
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family:'montserrat', sans- serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #f74edb;
    color: rgb(6, 20, 216);
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: rgb(96, 98, 224);
    padding: 20px 30px;
    
    text-align: center;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: rgb(245, 16, 27);
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: rgb(243, 227, 86);
    color: rgb(32, 151, 8);
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #6ce9e9;
    text-align: center;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: rgb(224, 86, 201);
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  
