
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #ff0d05;
    color: rgb(78, 248, 11);
  }
  .navbar {
    display: flex;
    background-color: rgb(236, 240, 235);
    padding: 20px 30px;
    
    text-align: center;
  }
  /* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: rgb(96, 98, 224);
    padding: 20px 30px;
  