

 
* {
    box-sizing: border-box;
  }
  
  /* Estilo del cuerpo */
  body {
    font-family: Arial;
    text-align: center;
    margin: 0;
   /*background-color: #ffdd90;*/
    
    background-image: url("gif.gif");
    text-decoration:  none;
   }
  