
* {
  box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
  font-family: Arial;
  margin: 0;
}

/* Título del encabezado/logotipo */
.header {
  padding: 60px;
  text-align: center;
  background: #f4f74e;
  color: rgb(6, 20, 216);
}

/* Estilo de la barra de navegación superior */
.navbar {
  display: flex;
  background-color: rgb(96, 98, 224);
  padding: 20px 30px;
  
  text-align: center;
}

/* Estilo de los enlaces de la barra de navegación */
.navbar a {
  color: rgb(245, 16, 27);
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
}

/* Cambiar el color al pasar el ratón */
.navbar a:hover {
  background-color: rgb(243, 227, 86);
  color: rgb(32, 151, 8);
}

/* Contenedor de columnas */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Crear dos columnas desiguales que se sientan una al lado de la otra */
/* Barra lateral/columna izquierda */
.side {
  flex: 30%;
  background-color: #6ce9e9;
  padding: 20px;
}

/* Columna principal */
.main {
  flex: 70%;
  background-color: rgb(224, 86, 201);
  padding: 20px;
}

/* Imagen falsa, sólo para este ejemplo */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Pie de página */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Diseño responsivo - cuando la pantalla tiene menos de 700px de ancho, haga que las dos columnas se apilan una encima de la otra en lugar de una al lado de la otra */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
