*{
    box-sizing:border-box;
}
body{
    font-family:'montserrat', sans- serif;
}

header{
    padding: 0px;
    background-color: yellow;
    color: rgb(207, 79, 197);
    text-align: center;
}
nav{
    display: flex;
    padding: 10px;
    background-color: teal;
}
ul{
    list-style: none;
}
li{
    display: inline;
}
a{
    padding:20px;
    color: rgb(230, 68, 230);
    text-decoration: yellow;

}
a :hover {
    background-color: turquoise;
}
main{
    display: flex;
    width: 100%;
    height: 63vh;
    justify-content: center;
     
}

section{
    flex: 70%;
    text-align: center; 
}
section> img{
    width: 400px;
}
aside{
flex: 30;
padding: 5px;
background-color: rgb(0, 255, 13);    
}
footer{
    /*margin: 20px;*/
    padding: 25px;
    background-color: aqua;
}

.contenido>img{
   display: flex;
   padding: 0px;
   background-color: blue;
  /* foat:riht;*/
    width: 400px;
    justify-content: center;
    align-items: center;
}
    .imagen,.opciones{
        margin: 50px;
    }
    .imagen,.opciones{
        width: 400px;
    } 

     
     button{
        font-size:  large;
        outline: none;
        border: 2px;  
       color: coral;
        padding:10px;
        border-radius: 25px;
    }
    button:hover{
        background-color: cyan;
        
    }


